@import './App.css';

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 6rem;
    background-color: var(--primary-color);
}

.second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--secondary-color);
}

.title {
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
}

.container-row {
    display: grid;
}

.medium-card-size {
    border-radius: 50px!important;
    height: 240px!important;
    width: 360px!important;
    transition: all 0.5s;
}

.medium-card-size:hover {
    border-radius: 10px!important;
}

.full-width {
    width: 100%;
}