@import './App.css';

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 6rem;
    background-color: var(--primary-color);
}

.second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--secondary-color);
}

.title {
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    display: inline-block;
    outline: none;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
    width: 160px;
    height: 45px;
    font-size: large;
}

.btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-primary span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.btn-primary:hover span {
    padding-right: 10px;
}

.btn-primary:hover span::after {
    opacity: 1;
    right: 0;
}

.bolder {
    font-weight: 900;
}
